---
layout: basic
title: Data flow mapping
nav: Home
---

<main role="main" id="content">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 font-weight-bold">Data flow mapping</h1>
            <p class="lead">Find {% if loggedIn == true %}or create {% endif %}a dataset</p>
        </div>
    </div>
    <div class="container">
        <div class="input-group mb-3">
            <label for="search" class="sr-only">Search</label>
            <input id='search' type="text" onkeyup="filterList()" class="form-control form-control-lg"
                placeholder="Search for a dataset" autocomplete="off">
        </div>
        {% if loggedIn == true %}
        <a class="text-decoration-underline h4 font-weight-normal bg-light p-3 d-inline-block mb-4"
            href="dataset/index.html?id=">Create new dataset</a>
        {% endif %}
        <ul class="list-group list-group-flush">
            {%- for item in datasets -%}
            <li class='list-group-item h3 font-weight-normal' id='listItem'>
                <a class='text-decoration-underline'
                    href='dataset/index.html?id={{item.datasetID}}&new='>{{item.datasetName}}</a>
            </li>
            {%- endfor -%}
        </ul>
    </div>
</main>
<script>
    function filterList() {
        // Declare variables
        let input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('search');
        filter = input.value.toUpperCase();
        ul = document.getElementById("list");
        li = ul.getElementsByTagName('li');
        console.log(li)

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            console.log(a)
            txtValue = a.textContent || a.innerText;
            console.log(txtValue)
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>