---
layout: basic
title: Data flow mapping
nav: Home
---

<main role="main" id="content">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 font-weight-bold">Data flow mapping</h1>
            <p class="lead">Allows users to view, query and visualise metadata and connections between EA and third party datasets.</p>
            
        </div>
    </div>
    <div class="container">
        <p class="lead">You must be logged in to view this content</p>
        <p><a class="btn btn-primary" href="/auth0">Sign in or request access</a></p>

        <p>For queries about this site, please contact <a href="mailto:owner.dfm@environment.gov.uk">owner.dfm@environment.gov.uk</a></p>
    </div>
        
</main>