---
layout: basic
title: Query data flow mappings
nav: Queries
---

<main role="main" id="content">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 font-weight-bold">Query data flow mappings</h1>
            <p class="lead">Run {% if loggedIn == true %}or create {% endif %}a query on a single dataset or all
                datasets.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="input-group mb-3">
                    <label for="search" class="sr-only">Search</label>
                    <input id='search' type="text" onkeyup="filterList('queryList')" class="form-control form-control-lg" placeholder="Search for a dataset" autocomplete="off">
                </div>
            </div>
            <!-- <div class="col-md-3 offset-md-1">
                {% if loggedIn == true %}
                <a class="btn btn-primary mb-2 btn-lg" href="dataset?id=">Create new query</a>
                {% endif %}
            </div> -->
        </div>
        <ul id="queryList" class="list-group list-group-flush">
            {%- for item in queries.allDatasets -%}
            <li class='list-group-item h3 font-weight-normal' id='listItem'>
                <a class='text-decoration-underline' href='results?query={{item.name}}'>{{item.name}}</a>
            </li>
            {%- endfor -%}
        </ul>
    </div>
</main>