---
layout: basic
title: Query data flow mappings
nav: Queries
---

<main role="main" id="content">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 font-weight-bold">Query data flow mappings</h1>
            <p class="lead">Run {% if loggedIn == true %}or create {% endif %}a query on a single dataset or all
                datasets</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="mb-4">Query a single dataset</h2>
                <form action="results">
                    <fieldset>
                        <legend class="h4">Select query</legend>
                        <div class="form-group">
                            {%- for item in queries.oneDataset -%}
                            <label for="{{item.name}}"><input type="radio" id="{{item.name}}" name="{{item.name}}">
                                {{item.name}}
                            </label>
                            {%- endfor -%}
                        </div>
                    </fieldset>
                    <h3 class="mt-4 h4">Select dataset</h3>
                    <div class="input-group mb-2">
                        <label for="search" class="sr-only">Search</label>
                        <input id="search" type="text" onkeyup="filterList('queryList')" class="form-control"
                            placeholder="Search for a dataset" autocomplete="off">
                    </div>
                    <fieldset>
                        <legend class="sr-only">List of datasets</legend>
                        <div id="queryList" tabindex="0" class="form-list p-2 border mb-4">
                            {%- for item in datasets -%}
                            <label for='{{item.datasetID}}'> <input type='radio' id='{{item.datasetID}}'
                                    name='{{item.datasetName}}'> {{item.datasetName}}</label>
                            {%- endfor -%}
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary rounded-0">Run query</button>
                </form>
            </div>
            <div class="col-sm-6">
                <h2 class="mb-4">Query all datasets</h2>
                <form action="results">
                    <fieldset>
                        <legend class="h4">Select query</legend>
                        <div class="form-group">
                            {%- for item in queries.allDatasets -%}
                            <label for="{{item.name}}"><input type="radio" id="{{item.name}}" name="{{item.name}}">
                                {{item.name}}</label>
                            {%- endfor -%}
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary rounded-0">Run query</button>
                </form>
            </div>
        </div>
    </div>
</main>