---
layout: basic
title: Users
nav: Users
---

<main role="main" id="content" tabindex="-1">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 font-weight-bold">Users</h1>
            <p class="lead">Find or create a user.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="input-group mb-3">
                    <label for="search" class="sr-only">Search</label>
                    <input id='search' type="text" onkeyup="filterList('list')" class="form-control form-control-lg"
                        placeholder="Search for a user" autocomplete="off">
                </div>
            </div>
            <div class="col-md-3 offset-md-1">
                <a class="btn btn-primary mb-2 btn-lg" href=" user/index.html?user=">Create new user</a>
                    </div> <ul id='list' class="list-group list-group-flush">
                    {%- for item in users -%}
                    <li class='list-group-item h3 font-weight-normal' id='listItem'><a class="text-decoration-underline"
                            href="user/?user={{item.email}}">{{item.email}}</a>
                    </li>
                    {%- endfor -%}
                    </ul>
            </div>
        </div>
</main>